<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.ConsoleAppender" name="console">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %m [%t]%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="true" />
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="10" />
        <param name="file" value="C:/Logs/white-ice-web-server.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %m [%t] %n" />
        </layout>
    </appender>

    <appender name="ice" class="org.kui.log4j.WhiteIceAppender">
    </appender>


    <logger additivity="true" name="org.kui">
        <level value="debug"/>
    </logger>

    <logger additivity="true" name="org.xnio">
        <level value="warn"/>
    </logger>

    <logger additivity="true" name="com.datastax">
        <level value="warn"/>
    </logger>

    <root>
        <priority value ="info" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="ice" />
    </root>

</log4j:configuration>