.gradle
.idea
.track
target
gradle
build
out
images
*.log*
*.dat
*-ext.properties
*-ext-example.properties
*.truststore
gradlew
gradlew.bat
*.iml
white-ice-agent/log4j.xml
white-ice-web-server/log4j.xml
white-ice-web-server/src/dist
*.sh