.gradle
.idea
.track
target
gradle
build
out
images
*.log*
*.dat
kui-client/*-ext.properties
kui-web/*-ext.properties
*-ext-example.properties
*.truststore
gradlew
gradlew.bat
*.iml
kui-client/log4j.xml
kui-web/log4j.xml
kui-web/src/dist
*.sh
data/