<div class="container">

<h2>Taggers</h2>

<div class="btn-group spacer" role="group">
    <button type="button" class="btn btn-secondary" onclick="component.add()">Add</button>
    <button type="button" class="btn btn-secondary" onclick="component.edit()">Edit</button>
    <button type="button" class="btn btn-secondary" onclick="component.remove()">Remove</button>
</div>

<div class="table-responsive spacer">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 1%">&nbsp;</th>
            <th>Environment</th>
            <th>Host</th>
            <th>Log</th>
            <th>Tag</th>
            <th>Pattern</th>
        </tr>
        </thead>
        <tbody repeater="taggers">
            <tr>
                <td class="vcenter"><input type="checkbox" id="{id}" modelId="{modelId}"/></td>
                <td nowrap>{environment}</td>
                <td nowrap>{host}</td>
                <td>{log}</td>
                <td style="color: {color}">{tag}</td>
                <td>{pattern}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="addModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add tagger</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="addForm" class="form" action="#">
                    <div class="form-group">
                        <label for="addEnvironmentInput">Environment / Type Pattern</label>
                        <input type="text" id="addEnvironmentInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus>
                        <div class="form-control-feedback" hidden>Please enter environment.</div>
                    </div>
                    <div class="form-group">
                        <label for="addHostInput">Host / Type Pattern</label>
                        <input type="text" id="addHostInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus>
                        <div class="form-control-feedback" hidden>Please enter host.</div>
                    </div>
                    <div class="form-group">
                        <label for="addLogInput">Log Path Pattern</label>
                        <input type="text" id="addLogInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus>
                        <div class="form-control-feedback" hidden>Please enter log.</div>
                    </div>
                    <div class="form-group">
                        <label for="addTagInput">Tag</label>
                        <input type="text" id="addTagInput" class="form-control" placeholder="" pattern=".{3,200}" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter tag.</div>
                    </div>
                    <div class="form-group">
                        <label for="addPatternInput">Pattern</label>
                        <input type="text" id="addPatternInput" class="form-control" placeholder="" pattern=".{3,200}" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter pattern.</div>
                    </div>
                    <div class="form-group">
                        <label for="addColorInput">Color</label>
                        <input type="text" id="addColorInput" class="form-control" placeholder="#FFFFFF" pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter color.</div>
                    </div>
                    <div class="spacer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="component.create()">Create</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="editModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update tagger</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form" action="#">
                    <div class="form-group" hidden="true">
                        <label for="editKeyInput">Key</label>
                        <input type="text" id="editKeyInput" class="form-control" placeholder="" pattern=".{3,60}" autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter tagger key.</div>
                    </div>
                    <div class="form-group">
                        <label for="editEnvironmentInput">Environment / Type Pattern</label>
                        <input type="text" id="editEnvironmentInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter environment.</div>
                    </div>
                    <div class="form-group">
                        <label for="editHostInput">Host / Type Pattern</label>
                        <input type="text" id="editHostInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter host.</div>
                    </div>
                    <div class="form-group">
                        <label for="editLogInput">Log Path Pattern</label>
                        <input type="text" id="editLogInput" class="form-control" placeholder="" pattern=".{3,200}" autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter log.</div>
                    </div>
                    <div class="form-group">
                        <label for="editTagInput">Tag</label>
                        <input type="text" id="editTagInput" class="form-control" placeholder="" pattern=".{3,200}" required autofocusreadonly >
                        <div class="form-control-feedback" hidden>Please enter tag.</div>
                    </div>
                    <div class="form-group">
                        <label for="editPatternInput">Pattern</label>
                        <input type="text" id="editPatternInput" class="form-control" placeholder="" pattern=".{3,200}" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter pattern.</div>
                    </div>
                    <div class="form-group">
                        <label for="editColorInput">Color</label>
                        <input type="text" id="editColorInput" class="form-control" placeholder="#FFFFFF" pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter color.</div>
                    </div>
                    <div class="spacer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="component.update()">Save</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="removeModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Remove tagger</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="removeForm" class="form" action="#">
                    <div class="form-group">
                        <label for="removeKeyInput">Key</label>
                        <input type="text" id="removeKeyInput" class="form-control" placeholder="first.last" pattern=".{3,30}" required autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter tagger key.</div>
                    </div>
                    <div class="spacer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="component.delete()">Delete</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</div>