<div class="container">
    <form id="passwordChangeForm" class="form" action="#">
    <h2 class="form-heading">Password change</h2>
    <div class="form-group spacer">
        <label for="oldPasswordInput">Old password</label>
        <input type="password" id="oldPasswordInput" class="form-control" placeholder="old password" pattern=".{12,30}" required>
        <div class="form-control-feedback" hidden>Please enter old password.</div>
    </div>
    <div class="form-group">
        <label for="newPasswordOneInput">New password</label>
        <input type="password" id="newPasswordOneInput" class="form-control" placeholder="new password" pattern=".{12,30}" required>
        <div class="form-control-feedback" hidden>Please enter new password.</div>
    </div>
    <div class="form-group">
        <label for="newPasswordTwoInput">New password again</label>
        <input type="password" id="newPasswordTwoInput" class="form-control" placeholder="new password again" pattern=".{12,30}" required>
        <div class="form-control-feedback" hidden>Please enter new password again.</div>
    </div>
    <button type="button" class="btn btn-lg btn-primary spacer" onclick="component.change()" >Change</button>
    </form>
</div>