<div class="container">

<h2>Activity Alerts</h2>

<div class="btn-group spacer" role="group">
    <button type="button" class="btn btn-secondary" onclick="component.add()">Add</button>
    <button type="button" class="btn btn-secondary" onclick="component.edit()">Edit</button>
    <button type="button" class="btn btn-secondary" onclick="component.removeConfirmation()">Remove</button>
</div>

<div class="table-responsive spacer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 1%">&nbsp;</th>
                <th>Environment</th>
                <th>Host Type</th>
                <th>Host</th>
                <th>Log</th>
                <th>Tag</th>
                <th>Period</th>
                <th>Min</th>
                <th>Max</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody repeater="tableRepeater">
            <tr>
                <td class="vcenter"><input type="checkbox" rowId="{key}"/></td>
                <td nowrap>{environment}</td>
                <td nowrap>{hostType}</td>
                <td nowrap>{host}</td>
                <td>{log}</td>
                <td>{tag}</td>
                <td>{period}</td>
                <td>{min}</td>
                <td>{max}</td>
                <td>{email}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="editModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edit activity alert</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form" action="#">
                    <div class="form-group" hidden>
                        <label for="keyInput">Key</label>
                        <input type="text" id="keyInput" model="key" class="form-control">
                        <div class="form-control-feedback" hidden>Please enter key.</div>
                    </div>

                    <div class="form-group">
                        <label for="environmentInput">Environment</label>
                        <input type="text" id="environmentInput" model="environment" class="form-control" placeholder="" pattern=".{3,200}" autofocus editreadonly>
                        <div class="form-control-feedback" hidden>Please enter environment.</div>
                    </div>
                    <div class="form-group">
                        <label for="hostTypeInput">Host Type</label>
                        <input type="text" id="hostTypeInput" model="hostType" class="form-control" placeholder="" pattern=".{3,200}" autofocus editreadonly>
                        <div class="form-control-feedback" hidden>Please enter host type.</div>
                    </div>
                    <div class="form-group">
                        <label for="hostInput">Host</label>
                        <input type="text" id="hostInput" model="host" class="form-control" placeholder="" pattern=".{3,200}" autofocus editreadonly>
                        <div class="form-control-feedback" hidden>Please enter host.</div>
                    </div>
                    <div class="form-group">
                        <label for="logInput">Log</label>
                        <input type="text" id="logInput" model="log" class="form-control" placeholder="" pattern=".{3,200}" required autofocus editreadonly>
                        <div class="form-control-feedback" hidden>Please enter log.</div>
                    </div>
                    <div class="form-group">
                        <label for="tagInput">Tag</label>
                        <input type="text" id="tagInput" model="tag" class="form-control" placeholder="" pattern=".{3,200}" required autofocus editreadonly>
                        <div class="form-control-feedback" hidden>Please enter tag.</div>
                    </div>

                    <div class="form-group">
                        <label for="periodInput">Period [min]</label>
                        <input type="number" id="periodInput" model="period" class="form-control" placeholder="15" min="1" max="1440" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter period in minutes.</div>
                    </div>
                    <div class="form-group">
                        <label for="minInput">Minimum</label>
                        <input type="number" id="minInput" model="min" class="form-control" placeholder="" min="1" max="100000" autofocus>
                        <div class="form-control-feedback" hidden>Please enter minimum count in period.</div>
                    </div>
                    <div class="form-group">
                        <label for="maxInput">Maximum</label>
                        <input type="number" id="maxInput" model="max" class="form-control" placeholder="" min="0" max="1000000" autofocus>
                        <div class="form-control-feedback" hidden>Please enter maximum count in period.</div>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" id="emailInput" model="email" class="form-control" placeholder="" required autofocus>
                        <div class="form-control-feedback" hidden>Please enter email to receive the alert.</div>
                    </div>

                    <div class="spacer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="component.save()">Save</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" onclick="component.cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="removeModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Remove activity alert</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="removeForm" class="form" action="#">
                    <div class="form-group">
                        <label for="removeKeyInput">Key</label>
                        <input type="text" id="removeKeyInput" model="key" class="form-control" placeholder="first.last" pattern=".{3,30}" required autofocus readonly>
                        <div class="form-control-feedback" hidden>Please enter activityAlert key.</div>
                    </div>
                    <div class="spacer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="component.remove()">Delete</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</div>